alabaster==0.7.12
awkward==0.9.0
Babel==2.6.0
backports.functools-lru-cache==1.5
cachetools==3.1.0
certifi==2019.3.9
chardet==3.0.4
cycler==0.10.0
docutils==0.14
idna==2.8
imagesize==1.1.0
Jinja2==2.10.1
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==2.2.4
matplottery==1.0.4
numpy==1.16.3
numpydoc==0.9.1
packaging==19.0
pandas==0.24.2
xgboost==0.72
Pygments==2.4.0
pyparsing==2.4.0
python-dateutil==2.8.0
pytz==2019.1
requests==2.22.0
scikit-learn==0.20.3
scipy==1.2.1
six==1.12.0
sklearn==0.0
snowballstemmer==1.2.1
Sphinx==1.8.5
sphinxcontrib-websupport==1.1.2
subprocess32==3.5.3
typing==3.6.6
uproot==3.5.2
uproot-methods==0.5.1
urllib3==1.25.2
